-
    var accordion_data = {
        labels : ['General', 'Administration'],
        contents : [
            ['Dashboard', 'Customers'],
            ['Team Settings', 'Manage Your Team']
            ]
        }

mixin accordion(data)
    each label in accordion_data.labels
        h4.menu-label
            a.box(href="#")= label
        ul.menu-list
            each content in accordion_data.contents
                li
                    each link in content
                        a(href="#")= link