meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title jquery Practice
link(rel="stylesheet", href="/node_modules/bulma/css/bulma.css")
link(rel="stylesheet", href="./css/main.css")
script(src="https://unpkg.com/jquery")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")