/*! main.css @ 2017, yamoo9.net */

// --------------------------------------------------
// 개발 의존 모듈 로드
@import ../lib/font-awesome/font-awesome
@import ../lib/bulma/bulma

// --------------------------------------------------
// 기본 스타일

html
  background: #fff

body
  margin: 0
  height: 100vh
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)
img, video
  vertical-align: top

.app, #app
  padding-top: 40px

.control
  margin-bottom: 20px

[v-cloak]
  display: none


.project-team
  margin-top: 20px

.member-item
  margin-bottom: 10px


.todo
  margin-top: 45px



// .fade-enter-active,
// .fade-leave-active
//   transition: opacity .5s

// .fade-enter,
// .fade-leave-to
//   opacity: 0