<!DOCTYPE html>
html(lang="ko-KR")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Learn Vue

        link(rel="shortcut icon" type="image/x-icon" href="assets/favicon.png")
        link(rel="stylesheet" href="css/main.css")

    body

        .app.container
            .columns
                .column.is-4
                    h1.box.title.is-1 {{title}} : {{count}}
            .columns
                .column.is-1
                    button.button.is-info(
                        type="button"
                        @click="increaseCount")
                        | Increase
                .column.is-1
                    button.button.is-danger(
                        type="button"
                        @click="decreaseCount")
                        | Decrease

        script(src="https://unpkg.com/vue")
        script(src="js/vue.basic.structure.js")