<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title jQuery UI
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
    link(rel="stylesheet", href="/node_modules/bulma/css/bulma.css")
    link(rel="stylesheet", href="./css/main.css")
body
    //- Mixin Card
    mixin card()
        .card(class!=attributes.class)
            header.card-header
                p.card-header-title
                    | Component
                a(href="" role="button" aria-label="close card component").card-header-icon.card-toggle-btn
                    span.icon
                        i(aria-hidden="true").fa.fa-angle-down
            .card-content
                .content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    a(href="https://twitter.com/bulmaio/") @bulmaio
                    | . 
                    a #css
                    a #responsive
                    br
                    time(pubdate="2016-01-01") 11:09 PM - 1 Jan 2016
            footer.card-footer
                a(href="" role="button").card-footer-item.card-save-btn Save
                a(href="" role="button").card-footer-item.card-edit-btn Edit
                a(href="" role="button").card-footer-item.card-delete-btn Delete
    //- Mixin Tab
    mixin tab()
        .tabs.is-boxed(class!=attributes.class)
            ul
                li.is-active
                    a(role="tab")
                        span.icon.is-small
                            i.fa.fa-image
                        span Pictures
                li
                    a(role="tab")
                        span.icon.is-small
                            i.fa.fa-music
                        span Music
                li
                    a(role="tab")
                        span.icon.is-small
                            i.fa.fa-film
                        span Videos
                li
                    a(role="tab")
                        span.icon.is-small
                            i.fa.fa-file-text-o
                        span Documents



    //- Body
    .app
        .columns
            .column.is-6-desktop.is-6-tablet.is-12-mobile
                +card()(class="twitter")
            .column.is-6-desktop.is-6-tablet.is-12-mobile
                +card()(class="facebook")
        .columns
            .column.is-8-desktop.is-offset-2-desktop.is-8-tablet.is-offset-2-tablet.is-12-mobile
                .tab-container
                    +tab()(class="radio-tab")
        .columns
            .column.is-8-desktop.is-offset-2-desktop.is-8-tablet.is-offset-2-tablet.is-12-mobile
                .touchzone
                    | Swipe this area using chrome dev tool

    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/jquery-ui-dist/jquery-ui.min.js")
    script(src="js/jquery.extend.js")
    script(src="js/index.js")